<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/app/componentes/componentes/compo1/compo1.component.css">
<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:700' rel='stylesheet' type='text/css'>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>

    <title>CRUD</title>
</head>
<body id="body" class="body">

  <br >
<br>
<br>
<br>
<div class="">
  <h1 class="table">PERSONAL</h1>
<table class="table">
  <thead>
      <th>#</th>
      <th>id</th>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Rol</th>
      <th>Telefono</th>
      <th>Direccion</th>
      <th>Edad</th>
  </thead>
  <tbody>
      <tr *ngFor="let item of datos; let i = index">
          <td>{{i+1}}</td>
          <td>{{item._id}}</td>
          <td>{{item.nombrePersonal}}</td>
          <td>{{item.apellidoPersonal}}</td>
          <td>{{item.rolPersonal}}</td>
          <td>{{item.telefonoPersonal}}</td>
          <td>{{item.direccionPersonal}}</td>
          <td>{{item.edadPersonal}}</td>
      </tr>
  </tbody>
</table>
</div>


</body>

<body id="body" class="text-center">
  <br>
<br>
<br>
<br>

<br>
<br>
<h1 class="table">PRODUCTOS</h1>
<table class="table">
  <thead>
      <th>#</th>
      <th>id</th>
      <th>Nombre Producto</th>
      <th>MARCA</th>
      <th>PRESENTACION</th>
      <th>CONTENIDO</th>
      <th>CANTIDAD</th>
      <th>STATUS</th>
      <th>DESCRIPCION</th>
  </thead>
  <tbody>
      <tr *ngFor="let item of productos; let i = index">
          <td>{{i+1}}</td>
          <td>{{item._id}}</td>
          <td>{{item.nombreProducto}}</td>
          <td>{{item.marcaProducto}}</td>
          <td>{{item.presentacionProducto}}</td>
          <td>{{item.contenidoProducto}}</td>
          <td>{{item.cantidadIngresa}}</td>
          <td>{{item.statusProducto}}</td>
          <td>{{item.descripcionProducto}}</td>

      </tr>
  </tbody>
</table>
</body>





<body id="body" class="text-center">
  <br>
<br>
<br>
<br>

<br>
<br>
<h1 class="table">SUCURSAL</h1>
<table class="table">
  <thead>
      <th>#</th>
      <th>id</th>
      <th>NOMBRE SUCURSAL</th>
      <th>DIRECCIÓN</th>
      <th>TELÉFONO</th>
      <th>HORARIO</th>
      <th>MARCAS QUE MANEJA</th>
  </thead>
  <tbody>
      <tr *ngFor="let item of sucursal; let i = index">
          <td>{{i+1}}</td>
          <td>{{item._id}}</td>
          <td>{{item.nombreSucursal}}</td>
          <td>{{item.direccionSucursal}}</td>
          <td>{{item.telefonoSucursal}}</td>
          <td>{{item.horarioSucursal}}</td>
          <td>{{item.marcasqmanejaSucursal}}</td>

      </tr>
  </tbody>
</table>
</body>



<body id="body" class="text-center">
  <br>
<br>
<br>
<br>

<br>
<br>
<h1 class="table">PROVEEDOR</h1>
<table class="table">
  <thead>
      <th>#</th>
      <th>id</th>
      <th>NOMBRE PROVEEDOR</th>
      <th>DIRECCIÓN</th>
      <th>TELÉFONO</th>
      <th>CONTACTO</th>
      <th>CORREO</th>
  </thead>
  <tbody>
      <tr *ngFor="let item of proveedor; let i = index">
          <td>{{i+1}}</td>
          <td>{{item._id}}</td>
          <td>{{item.nombreProveedor}}</td>
          <td>{{item.direccionProveedor}}</td>
          <td>{{item.telefonoProveedor}}</td>
          <td>{{item.perscontProveedor}}</td>
          <td>{{item.gmailProveedor}}</td>

      </tr>
  </tbody>
</table>
</body>
</html>
